apiVersion: v1
stringData:
  config.yaml: |
    FEATURE_GENERAL_OCI_SUPPORT: true
    FEATURE_USER_INITIALIZE: true
    BROWSER_API_CALLS_XHR_ONLY: false
    SUPER_USERS:
    - {{ quay_admin_username }}
    FEATURE_USER_CREATION: false
kind: Secret
metadata:
  name: quay-config-bundle
  namespace: {{ quay_project_name }}
type: Opaque



