apiVersion: quay.redhat.com/v1
kind: QuayRegistry
metadata:
  name: {{ quay_registry_name }}
  namespace: {{ quay_project_name }}
spec:
  configBundleSecret: quay-config-bundle
  components:
    - kind: clair
      managed: true
      overrides:
        replicas: 1
    - kind: postgres
      managed: true
    - kind: objectstorage
      managed: true
    - kind: redis
      managed: true
    - kind: horizontalpodautoscaler
      managed: false
    - kind: route
      managed: true
    - kind: mirror
      managed: false
    - kind: tls
      managed: true
    - kind: quay
      managed: true
      overrides:
        replicas: 1
    - kind: clairpostgres
      managed: true
    - kind: monitoring
      managed: false