kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: openshift-gitops-controller-admin
subjects:
  - kind: ServiceAccount
    name: openshift-gitops-application-controller
    namespace: openshift-gitops
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
---
kind: clusterrolebinding
apiversion: rbac.authorization.k8s.io/v1
metadata:
  name: openshift-gitops-controller-admin
  namespace: devsecops-dev
subjects:
  - kind: serviceaccount
    name: openshift-gitops-application-controller
    namespace: openshift-gitops
roleref:
  apigroup: rbac.authorization.k8s.io
  kind: clusterrole
  name: admin
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: openshift-gitops-controller-admin
  namespace: devsecops-qa
subjects:
  - kind: ServiceAccount
    name: openshift-gitops-application-controller
    namespace: openshift-gitops
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
