apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: cosign-task
  labels:
    app.kubernetes.io/version: "0.6"
  annotations:
    tekton.dev/pipelines.minVersion: "0.17.0"
    tekton.dev/categories: security
    tekton.dev/tags: security
    tekton.dev/displayName: "Sign and Verify Images"
    tekton.dev/platforms: "linux/amd64"
spec:
  description: >-
    This Task can be used to sign an image in a registry
  params:
    - name: IMAGE
      description: Name (reference) of the image to sign.
    - name: EXTRA_ARGS
      type: array
      description: args to pass to cosign command to 
      default: []
  steps:
    - name: Cosign actions
      image: $(params.IMAGE)
      args:
        - $(params.EXTRA_ARGS)
