kind: ImageStream
apiVersion: image.openshift.io/v1
metadata:
  name: cosign-pod
  namespace: {{ tekton_operator_namespace }}
  labels:
    build: cosign-pod
spec:
  lookupPolicy:
    local: false
status:
  dockerImageRepository: >-
    image-registry.openshift-image-registry.svc:5000/openshift-pipelines/cosign-pod
