apiVersion: batch/v1
kind: Job
metadata:
  name: cosign-generate-keys
  namespace: {{ tekton_operator_namespace }}
spec:
  selector: {}
  template:
    metadata:
      name: cosign-generate-keys
    spec:
      containers:
        - name: cosign-deployment
          image: {{cosign_image}}
          env:
            - name: COSIGN_PASSWORD
              value: {{ cosign_password }}
          args:
            - generate-key-pair
            - 'k8s://{{ tekton_operator_namespace }}/{{ secret_generate_name }}'
            - "--verbose"
      serviceAccountName: cosign-sa
      serviceAccount: cosign-sa
      restartPolicy: Never
