apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name: petclinic-build-dev
  namespace: cicd
spec:
  params:
    - default: http://{{ r_gogs_route.resources[0].spec.host }}/gogs/spring-petclinic
      description: The application git repository
      name: APP_SOURCE_GIT
      type: string
    - default: master
      description: The application git revision
      name: APP_SOURCE_REVISION
      type: string
    - default: http://{{ r_gogs_route.resources[0].spec.host }}/gogs/spring-petclinic-config
      description: The application manifests git repository
      name: APP_MANIFESTS_GIT
      type: string
    - default: latest
      description: The application image tag to build
      name: APP_IMAGE_TAG
      type: string
    - default: devsecops-dev
      description: The namespace for Stage environments
      name: DEV_NAMESPACE
      type: string
    - default: 'https://github.com/rcarrata/spring-petclinic-gatling'
      description: The application test cases git repository
      name: APP_TESTS_GIT
      type: string
  tasks:
    - name: source-clone
      params:
        - name: url
          value: $(params.APP_SOURCE_GIT)
        - name: revision
          value: $(params.APP_SOURCE_REVISION)
        - name: depth
          value: '0'
        - name: subdirectory
          value: spring-petclinic
        - name: deleteExisting
          value: 'true'
      taskRef:
        kind: ClusterTask
        name: git-clone
      workspaces:
        - name: output
          workspace: workspace
    - name: unit-tests
      params:
        - name: GOALS
          value:
            - package
            - '-f'
            - spring-petclinic
      runAfter:
        - source-clone
      taskRef:
        kind: Task
        name: maven
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: code-analysis
      params:
        - name: GOALS
          value:
            - install
            - 'sonar:sonar'
            - '-f'
            - spring-petclinic
            - '-Dsonar.host.url=http://sonarqube:9000'
            - '-Dsonar.userHome=/tmp/sonar'
            - '-DskipTests=true'
      runAfter:
        - source-clone
      taskRef:
        kind: Task
        name: maven
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: dependency-report
      params:
        - name: SOURCE_DIR
          value: spring-petclinic
      runAfter:
        - source-clone
      taskRef:
        kind: Task
        name: dependency-report
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: release-app
      params:
        - name: GOALS
          value:
            - deploy
            - '-f'
            - spring-petclinic
            - '-DskipTests=true'
            - >-
              -DaltDeploymentRepository=nexus::default::http://nexus:8081/repository/maven-releases/
            - >-
              -DaltSnapshotDeploymentRepository=nexus::default::http://nexus:8081/repository/maven-snapshots/
      runAfter:
        - code-analysis
        - unit-tests
        - dependency-report
      taskRef:
        kind: Task
        name: maven
      workspaces:
        - name: source
          workspace: workspace
        - name: maven-settings
          workspace: maven-settings
    - name: build-image
      params:
        - name: TLSVERIFY
          value: 'false'
        - name: MAVEN_MIRROR_URL
          value: 'http://nexus:8081/repository/maven-public/'
        - name: PATH_CONTEXT
          value: spring-petclinic/target
        - name: IMAGE_NAME
          value: {{ quay_route}}/{{ quay_org_name }}/spring-petclinic-dev
        - name: IMAGE_TAG
          value: $(params.APP_IMAGE_TAG)
      runAfter:
        - syft-sbom-post-release
      taskRef:
        kind: Task
        name: s2i-java-11
      workspaces:
        - name: source
          workspace: workspace
    - name: image-sign
      params:
        - name: IMAGE
          value: "image-registry.openshift-image-registry.svc:5000/{{pipeline_namespace}}/cosign-pod"
        - name: SIGNATURE_IMAGE
          value: "{{ quay_route}}/{{ quay_org_name }}/spring-petclinic-dev"
        - name: ARGS
          value:
            - sign
            - '--allow-insecure-registry'
            - '--key k8s://cicd/signing-secrets'
      runAfter:
        - build-image
      taskRef:
        kind: Task
        name: cosign-task
    - name: image-scan
      params:
        - name: image
          value: {{ quay_route}}/{{ quay_org_name }}/spring-petclinic-dev
        - name: rox_api_token
          value: roxsecrets
        - name: rox_central_endpoint
          value: roxsecrets
        - name: output_format
          value: table
        - name: image_digest
          value: $(tasks.build-image.results.IMAGE_DIGEST)
      runAfter:
        - build-image
      taskRef:
        kind: ClusterTask
        name: rox-image-scan
    - name: image-check
      params:
        - name: image
          value: {{ quay_route}}/{{ quay_org_name }}/spring-petclinic-dev
        - name: rox_api_token
          value: roxsecrets
        - name: rox_central_endpoint
          value: roxsecrets
        - name: image_digest
          value: $(tasks.build-image.results.IMAGE_DIGEST)
      runAfter:
        - build-image
      taskRef:
        kind: ClusterTask
        name: rox-image-check
    - name: deploy-check
      params:
        - name: GIT_REPOSITORY
          value: $(params.APP_MANIFESTS_GIT)
        - name: rox_api_token
          value: roxsecrets
        - name: rox_central_endpoint
          value: roxsecrets
        - name: file
          value: deployment.yaml
        - name: deployment_files_path
          value: app
      runAfter:
        - build-image
      taskRef:
        kind: ClusterTask
        name: rox-deployment-check
      workspaces:
        - name: workspace
          workspace: workspace
    - name: update-deployment
      params:
        - name: GIT_REPOSITORY
          value: $(params.APP_MANIFESTS_GIT)
        - name: GIT_USERNAME
          value: gogs
        - name: GIT_PASSWORD
          value: gogs
        - name: CURRENT_IMAGE
          value: 'quay.io/siamaksade/spring-petclinic:latest'
        - name: NEW_IMAGE
          value: {{ quay_route}}/{{ quay_org_name }}/spring-petclinic-dev
        - name: NEW_DIGEST
          value: $(tasks.build-image.results.IMAGE_DIGEST)
        - name: KUSTOMIZATION_PATH
          value: environments/dev
      runAfter:
        - sign-sbom
      taskRef:
        kind: Task
        name: git-update-deployment
      workspaces:
        - name: workspace
          workspace: workspace
    - name: wait-application
      params:
        - name: application-name
          value: dev-spring-petclinic
      runAfter:
        - update-deployment
      taskRef:
        kind: Task
        name: argocd-task-sync-and-wait
    - name: perf-tests-clone
      params:
        - name: url
          value: $(params.APP_TESTS_GIT)
        - name: subdirectory
          value: spring-petclinic-gatling
        - name: deleteExisting
          value: 'true'
      runAfter:
        - wait-application
      taskRef:
        kind: ClusterTask
        name: git-clone
      workspaces:
        - name: output
          workspace: workspace
    - name: pentesting-test
      params:
        - name: APP_URL
          value: "http://spring-petclinic.$(params.DEV_NAMESPACE).svc.cluster.local:8080"
      runAfter:
        - perf-tests-clone
      taskRef:
        kind: Task
        name: zap-proxy
      workspaces:
        - name: workspace
          workspace: workspace
    - name: performance-test
      params:
        - name: APP_URL
          value: "http://spring-petclinic.$(params.DEV_NAMESPACE).svc.cluster.local:8080"
      runAfter:
        - perf-tests-clone
      taskRef:
        kind: Task
        name: gatling
      workspaces:
        - name: simulations
          subPath: spring-petclinic-gatling
          workspace: workspace
    - name: syft-sbom-post-release
      params:
        - name: APP_PATH
          value: $(workspaces.source.path)
      runAfter:
        - release-app
      taskRef:
        kind: Task
        name: syft-sbom
      workspaces:
        - name: source
          workspace: workspace
    - name: sign-sbom
      params:
        - name: IMAGE
          value: "image-registry.openshift-image-registry.svc:5000/{{pipeline_namespace}}/cosign-pod"
        - name: SIGNATURE_SBOM
          value: sbom.json
        - name: ARGS
          value:
            - attach
            - sbom
            - '--allow-insecure-registry'
            - '--type syft'
            - '--sbom'
        - name: SIGNATURE_IMAGE
          value: "{{ quay_route}}/{{ quay_org_name }}/spring-petclinic-dev"
      runAfter:
        - image-sign
        - image-scan
        - image-check
        - deploy-check
      taskRef:
        kind: Task
        name: cosign-sign-sbom
      workspaces:
        - name: source
          workspace: workspace
  workspaces:
    - name: workspace
    - name: maven-settings